.split{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.split>img{
 width: 200px;
 border-radius: 5px;
 object-fit: contain;
}

@media (max-width: 500px) {
    .split{
        flex-direction: column;
    }
    .split>img{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}