footer {
    /* background-color: #1F2833;*/
    background-color: black;
    display: block;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    padding: 100px;
}

.footer {}

.footer-container {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.footer-title {
    margin-top: 0;
    margin-bottom: 6px;
    font-family: "Segoe UI", Arial, sans-serif;
    width: min-content;
}

.footer-link {
    color: #C5C6C7;
    text-decoration: none;
    transition: 0.2s;
    font-family: "Segoe UI", Arial, sans-serif;
    width: min-content;
}

.footer-link:hover {
    color: blue;
}

@media (max-width: 700px) {
    footer {
        grid-template-columns: repeat(2, 1fr);
        padding: 10%;
    }
}

@media (min-width: 700px) and (max-width: 990px) {}

@media (min-width: 990px) {
    .footer-container {
        margin-right: auto;
        margin-left: auto;
        width: 150px;
    }
}