.image-grid {
    width: 100%;
}

.container-double {
    display: flex;
    gap: 7px;
    margin-bottom: 7px;
    flex-direction: row;
}

.image-double {
    width: 50%;
}

.container-third {
    display: flex;
    gap: 7px;
    margin-bottom: 7px;
    flex-direction: row;
}

.image-third {
    width: 33%;
}

@media (max-width: 700px) {
    .container-double {
        display: block;
        margin-bottom: 0px;
    }
    .image-double {
        width: 100%;
        margin-bottom: 7px;
    }
    .container-third {
        gap: 7px;
        margin-bottom: 7px;
    }
}

@media (min-width: 700px) {}