.image-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: fit-content;
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.image-preview-exit {
    position: fixed;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    border: 0;
    background-color: black;
    color: white;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
}

.image-preview-exit:hover {
    background-color: #333333;
}

.image-preview-previous {
    position: absolute;
    left: 0;
}

.image-preview-navigation {
    height: 50px;
    width: 50px;
    border: 0;
    background-color: black;
    color: white;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
    font-weight: bolder;
    touch-action: manipulation;
    top: calc(50% - (50px / 2));
    transition: 0.5s ease;
    user-select: none;
}

.image-preview-navigation:hover {
    background-color: #333333;
}

.image-preview-next {
    position: absolute;
    right: 0;
}

@media (max-width: 700px) {
    .image-preview-next {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin: 0;
        margin-right: 0;
    }
    .image-preview-previous {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin: 0;
        margin-left: 0;
    }
}

@media (min-width: 700px) {
    .image-preview {
        width: 80%;
    }
}

@media (min-width: 990px) {
    .image-preview {
        width: 60%;
    }
}