.image-preview {
    display: none;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    height: 100%;
}

.image-preview-exit {
    position: absolute;
    right: 20%;
    height: 50px;
    width: 50px;
    border: 0;
    background-color: #333333;
    color: white;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 20px;
}

@media (max-width: 700px) {}

@media (min-width: 700px) and (max-width: 990px) {}

@media (min-width: 990px) {}