.form-button {
    background-color: transparent;
    border: 2px #66fcf1 solid;
    font-size: 20px;
    padding: 10px;
    height: 100%;
    width: min-content;
    border-radius: 4px;
    align-content: center;
    color: #C5c6c7;
    touch-action: manipulation;
    user-select: none;
    margin-top: 20px;
}

.form-imput {
    background-color: transparent;
    border: 2px #66fcf1 solid;
    font-size: 20px;
    padding: 10px;
    width: min-content;
    border-radius: 4px;
    color: #C5c6c7;
    outline: none;
    transition: 0.3s;
    width: 100%;
    box-sizing: border-box;
}

.form-textarea {
    background-color: transparent;
    border: 2px #66fcf1 solid;
    font-size: 20px;
    padding: 10px;
    width: min-content;
    border-radius: 4px;
    color: #C5c6c7;
    outline: none;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
}

.form-imput:focus {
    background-color: #45a29e;
    color: #24282f;
}

.contact-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.sub-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.sub-sub-form {
    width: 100%;
}

.input-left {
    box-sizing: border-box;
    padding-right: 10px;
}

.input-right {
    box-sizing: border-box;
    padding-left: 10px;
}

.top-paragraph {
    margin-top: 0;
}

select {
    background-color: #24282f;
    border: 2px #66fcf1 solid;
    font-size: 20px;
    padding: 10px;
    border-radius: 4px;
    color: #C5c6c7;
    outline: none;
    transition: 0.3s;
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 700px) {
    .sub-form {
        display: flex;
        flex-direction: column;
    }
    .input-left {
        box-sizing: border-box;
        padding-right: 0;
    }
    .input-right {
        box-sizing: border-box;
        padding-left: 0;
    }
    .mobile-static {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
    }
    .mobile-static-right {
        padding-left: 10px;
    }
    .mobile-static-left {
        padding-right: 10px;
    }
}