        * {
            font-family: Arial, Helvetica, sans-serif;
        }
        
         :root {
            --nav-height: 60px;
            --nav-height-tablet: 70px;
        }
        
        .programm {
            display: none;
        }
        
        .organe {
            display: none;
        }
        
        .jugend {
            display: none;
        }
        
        @media (max-width: 700px) {
            .nav {
                display: flex;
                flex-direction: column;
            }
            .nav-item {
                background-color: #f8f9fa;
            }
            .nav-item-home {
                font-size: 45px;
                color: black;
                cursor: default;
                user-select: none;
                margin-top: auto;
                margin-bottom: auto;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                height: var(--nav-height);
            }
            .nav-item {
                height: 30px;
                color: black;
                display: none;
                padding-left: 5px;
                padding-right: 5px;
                font-size: 25px;
                padding-top: 3px;
                padding-bottom: 3px;
                cursor: pointer;
            }
            .nav-item:hover {
                background-color: lightgray;
            }
            .nav-top {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: 60px;
                padding: 10px;
                background-color: #f8f9fa;
                border-bottom: 1px darkgray solid;
            }
            .nav-button {
                background-color: white;
                border: 1px darkgray solid;
                font-size: 40px;
                height: 100%;
                border-radius: 4px;
                align-content: center;
                color: black;
                touch-action: manipulation;
                user-select: none;
            }
            .center-text {
                margin-top: auto;
                margin-bottom: auto;
            }
            .nav-img {
                cursor: pointer;
                height: 100%;
                margin-right: 10px;
            }
        }
        
        @media (min-width: 700px) {
            .nav {
                display: flex;
                flex-direction: row;
                height: var(--nav-height-tablet);
                border-bottom: 1px darkgray solid;
                padding: 10px;
            }
            .nav-item-home {
                display: flex;
                flex-direction: row;
                height: var(--nav-height-tablet);
            }
            .nav-item {
                display: flex !important;
                height: 100%;
                padding-left: 20px;
                padding-right: 20px;
                font-size: 25px;
                user-select: none;
                cursor: pointer;
                align-items: center;
            }
            .nav-item-mobile-hidden {
                display: block !important;
                margin-top: auto;
                margin-bottom: auto;
                padding-left: 20px;
                padding-right: 20px;
                font-size: 30px;
                user-select: none;
                cursor: pointer;
            }
            .nav-item:hover,
            .nav-item-mobile-hidden:hover {
                background-color: lightgray;
                text-decoration: underline;
            }
            .nav-top {}
            .nav-button {
                display: none;
            }
            .center-text {}
            .nav-img {
                cursor: pointer;
                height: 100%;
                margin-right: 25px;
            }
        }
        
        @media (min-width: 990px) {}