:root {
    --nav-height: 60px;
}

.programm {
    display: none;
}

.organe {
    display: none;
}

.jugend {
    display: none;
}

@media (max-width: 700px) {
    .nav {
        display: flex;
        flex-direction: column;
    }
    .nav-item {
        background-color: #f8f9fa;
    }
    .nav-item-home {
        font-size: 45px;
        color: black;
        cursor: default;
        user-select: none;
    }
    .nav-item {
        height: 25px;
        color: black;
        display: none;
        padding-left: 5px;
        padding-right: 5px;
    }
    .nav-item:hover {
        background-color: lightgray;
    }
    .nav-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: var(--nav-height);
        padding: 10px;
        background-color: #f8f9fa;
        border-bottom: 1px darkgray solid;
    }
    .nav-button {
        background-color: white;
        border: 1px darkgray solid;
        font-size: 40px;
        width: 70px;
        height: 100%;
        border-radius: 4px;
        align-content: center;
        color: black;
        touch-action: manipulation;
        user-select: none;
    }
    .center-text {
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
}

@media (min-width: 700px) and (max-width: 990px) {
    .nav {}
    .nav-item {
        display: block !important;
    }
    .nav-item:hover {}
    .nav-button {
        display: none;
    }
}

@media (min-width: 990px) {
    .nav {}
    .nav-item {
        display: block !important;
    }
    .nav-item:hover {}
    .nav-button {
        display: none;
    }
}