.person-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    width: 100%;
    margin-bottom: 40px;
}

.person-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 320px;
}

.person-text {
    padding-left: 10px;
    padding-top: 10px;
}

.person-img {
    width: 130px;
}

.person-function {
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 12px;
}

.person-name {
    margin-top: 12px;
    margin-bottom: 12px;
}

.person-email {
    display: block;
    margin-top: 12px;
    margin-bottom: 12px;
}

.person-tel {
    display: block;
    margin-top: 12px;
    margin-bottom: 12px;
}

.person-container-shortened {}

.person-grid-shortened {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    width: 100%;
    margin-bottom: 40px;
}

@media (max-width: 740px) {
    .person-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .person-container {
        margin-left: auto;
        margin-right: auto;
    }
    .person-container-shortened {
        margin-left: auto;
        margin-right: auto;
    }
    .person-grid-shortened {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 740px) and (max-width: 990px) {
    .person-grid-shortened {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 990px) {}