.sort-button {
    background-color: transparent;
    border: 2px #66fcf1 solid;
    height: 100%;
    font-size: 17px;
    color: #66fcf1;
    width: min-content;
    border-radius: 4px;
    padding: 5px;
    align-content: center;
    touch-action: manipulation;
    user-select: none;
    transition: 0.2s;
    z-index: 1;
}


/*.sort-button:hover {
    background-color: #66fcf1 !important;
    color: black !important;
    border-color: #66fcf1 !important;
}*/

.programm-table {
    color: #C5C6C7;
    display: grid;
    grid-template-columns: repeat(3, 0.2fr) 0.3fr 1fr;
}

.top-item {
    font-size: x-large;
    color: #66fcf1;
}

.table-item {
    max-height: auto;
    overflow: hidden;
}