.slideshow {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.slideshow-button {
    cursor: pointer;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 999;
    background-color: transparent;
    border: 0;
}

.slideshow-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.slideshow-button-right {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slideshow-button-left {}

.image-conntainer {
    width: 100%;
    height: auto;
}

.slideshow-image {
    width: 100%;
    height: min-content;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@media (max-width: 810px) {
    .slideshow {
        width: 100%;
    }
}

@media (min-width: 810px) {}

@media (min-width: 1120px) {}