body {
    margin: 0;
    /*background: #f9f9f9;3
    background-color: #0b0c10;*/
    background-color: #24282f;
}

header {
    margin: 0;
}

main {
    margin-top: 0;
    padding-bottom: 20px;
}

h1 {
    font-family: "Segoe UI", Arial, sans-serif;
    color: #66FCF1;
}

p {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 375;
    font-size: 17px;
    color: #C5C6C7;
}

.link {
    transition: 0.4s;
    font-family: "Segoe UI", Arial, sans-serif;
}

.link:hover {
    color: red;
}

.img-full-width {
    width: 100%;
}

.half {
    width: 50%;
}

.image-grid-item {
    width: 100%;
}

@media (max-width: 700px) {
    p {
        font-size: 90%;
    }
    main {
        margin: 20px;
    }
    .sidebar {
        display: none;
    }
    .image-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 5px;
    }
    .galerie {
        width: 100%;
    }
}

@media (min-width: 700px) and (max-width: 990px) {
    p {
        font-size: 90%;
    }
    main {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .image-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 5px;
    }
}

@media (min-width: 990px) {
    main {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        padding-left: 20px;
        padding-right: 20px;
        max-width: 1000px;
    }
    .image-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 5px;
    }
}