body {
    margin: 0;
}

header {
    margin: 0;
}

main {
    margin: 5px;
}

footer {}

.nav {
    font-size: xx-large;
    display: flex;
    align-items: center;
    background-color: black;
}

.nav-item {
    width: 25%;
    display: inline;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    color: white;
}

.nav-item:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.programm {
    display: none;
}

.organe {
    display: none;
}

.jugend {
    display: none;
}