/* color palette */
:root {
  --charleston-green: #24282f;
  --black: #000;
  --electric-blue: #66FCF1;
  --silver-sand: #c5c6c7;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--charleston-green);
  --color-titles: var(--electric-blue);
  --color-text: var(--silver-sand);
}

body {
  color: var(--color-text);
  background: var(--color-background);
  font-family: "Segoe UI", Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

