/* color palette */

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
:root {
  --charleston-green: #24282f;
  --black: #000;
  --electric-blue: #66fcf1;
  --silver-sand: #c5c6c7;
  --keppel: #45a29e;
}

/* semantic color variables for this project */

:root {
  --color-background: var(--charleston-green);
  --color-background-light: var(--keppel);
  --color-titles: var(--electric-blue);
  --color-text: var(--silver-sand);
  --color-text-dark: var(--charleston-green);
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
  background-image: url(mckenzie-river-gc0cdfa938_1920-modified.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

* {
  font-weight: 550;
  font-family: 'Nunito', cursive;
  scroll-behavior: smooth;
}
