@import './base.css';

#app {}

/* Text */
h1, h2, h3, h4, h5, h6 {
  color: #66fcf1;
}

p {
  font-weight: 375;
  font-size: 17px;
  color: #c5c6c7;
}


a {
  color: #5688b7;
  transition: 0.4s;
}

/* Forms */
select {
  background-color: var(--color-background);
  border: 2px var(--color-titles) solid;
  font-size: 20px;
  padding: 10px;
  border-radius: 4px;
  color: var(--color-titles);
  outline: none;
  transition: 0.3s;
  width: 100%;
}


input {
  background-color: var(--color-background);
  border: 2px var(--color-titles) solid;
  font-size: 20px;
  padding: 10px;
  border-radius: 4px;
  color: var(--color-text);
  outline: none;
  transition: 0.3s;
  width: 100%;
  box-sizing: border-box;
}

input:focus {
  background-color: var(--color-background-light);
  color: var(--color-text-dark);
}

input[type="radio"] {
  background-color: transparent;
  width: auto;
  height: auto;
}

textarea {
  background-color: var(--color-background);
  border: 2px var(--color-titles) solid;
  font-size: 20px;
  padding: 10px;
  border-radius: 4px;
  color: var(--color-text);
  outline: none;
  transition: background-color 0.3s;
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
}

textarea:focus {
  background-color: var(--color-background-light);
  color: var(--color-text-dark);
}

button {
  background-color:  var(--color-background);
  border: 2px var(--color-titles) solid;
  font-size: 20px;
  padding: 10px;
  height: 100%;
  border-radius: 4px;
  align-content: center;
  transition:  0.3s;
  color: var(--color-text);
}

button:hover {
  background-color: var(--color-background-light);
  border: 2px var(--color-background-light) solid;
  color: var(--color-text-dark);
}